* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.frontc{
    height: 95vh;
    background-image: url(codin.jpeg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.front{
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front > img{
    max-width: 500px;
    border-radius: 30%;
}
nav{
    background-color:green;
    width:100%;
    padding: 20px;
  }
  .topnav {
    text-align: right;
  }
    
  .topnav > li {
    list-style: none;
    display: inline;    
  }
    
  .topnav > li > a {
    text-decoration: none;
    padding: 45px;
    font-size: 30px;
  }
  .topnav > li > a:hover {
    background-color: blueviolet;
    padding: 21px;
    color: white;
  }
